@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>

<html>

<head>
    <title>Baby Boo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="~Content/styles/layout.css" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">

    <div class="bgded overlay" style="background-image:url('Content/images/demo/bia/babyshark.jpg');">
        <div id="pageintro" class="hoc clear">
            <!-- ################################################################################################ -->
            <article>
                <h3 class="heading">Web game cho bé :33</h3>
                <p>Vừa chơi - Vừa học - Vừa vui</p>               
            </article>
            <!-- ################################################################################################ -->
        </div>
    </div>

    <div class="wrapper row3">
        <main class="hoc container clear">
            <!-- main body -->
            <!-- ################################################################################################ -->
            <section id="introblocks">
                <ul class="nospace group btmspace-80 elements elements-four">
                    <li class="one_quarter">
                        <article>
                            @*<li>@Html.ActionLink("Từ vựng", "Chude", "Tuvung")</li>*@
                            <a href="~/Tuvung/Chude"><i class="fas fa-dove"></i></a>

                            <h6 class="heading">Từ vựng</h6>
                            <p>Các từ vựng thông dụng dễ học cho bé.</p>
                        </article>
                    </li>
                    <li class="one_quarter">
                        <article>
                            <a href="#"><i class="fas fa-dove"></i></a>
                            <h6 class="heading">Trò chơi</h6>
                            <p>Trò chơi chọn đáp án đúng theo hình.</p>
                        </article>
                    </li>
                    <li class="one_quarter">
                        <article>
                            <a href="#"><i class="fas fa-dove"></i></a>
                            <h6 class="heading">Sách</h6>
                            <p>Mẫu sách tiếng anh dành cho trẻ nhỏ.</p>
                        </article>
                    </li>
                    <li class="one_quarter">
                        <article>
                            <a href="#"><i class="fas fa-dove"></i></a>
                            <h6 class="heading">Âm thanh</h6>
                            <p>Bật / tắt âm lượng.</p>
                        </article>
                    </li>
                </ul>
            </section>
            

            <!-- / main body -->
            <div class="clear"></div>

        </main>
    </div>







    <a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
    <!-- JAVASCRIPTS -->
    <script src="~Content//scripts/jquery.min.js"></script>
    <script src="~Content/scripts/jquery.backtotop.js"></script>
    <script src="~Content/scripts/jquery.mobilemenu.js"></script>
    <!-- Homepage specific -->
    <script src="~Content/scripts/jquery.easypiechart.min.js"></script>
    <!-- / Homepage specific -->
</body>
</html>