@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>

<html>


<head>

    <title>Baby Boo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="~Content/styles/layout.css" rel="stylesheet" type="text/css" media="all">


</head>
<body id="top">

    <div class="bgded overlay" style="background-image:url('Content/images/demo/bia/babyshark.jpg');">
        <div id="pageintro" class="hoc clear">
            <!-- ################################################################################################ -->
            <article>
                <audio controls autoplay>
                    <source src="~/Content/sound/babyshark.mp3" type="audio/mp3">
                </audio>
                <h1 class="heading" style="color: #eb8fd3">English web for kids</h1>
                <p>Vừa chơi - Vừa học - Vừa vui</p>
            </article>
            <!-- ################################################################################################ -->
        </div>
    </div>

    <div class="wrapper row3">
        <main class="hoc container clear">
            <!-- main body -->
            <!-- ################################################################################################ -->
            <section id="introblocks">
                <ul class="nospace group btmspace-80 elements elements-four">

                    <li class="one_quarter">
                        <article>
                            @*<li>@Html.ActionLink("Từ vựng", "Chude", "Tuvung")</li>*@
                            <a href="~/Tuvung/Chude"><i class="fas fa-dove"></i>
                            <h6 class="heading" style="color:black">Từ vựng</h6>
                            <p style="color:black">Các từ vựng thông dụng dễ học cho bé.</p>
                            </a>
                        </article>
                    </li>
                    <li class="one_quarter">
                        <article>
                            <a href="#">
                                <i class="fas fa-dove"></i>
                                <h6 class="heading" style="color:black">Trò chơi</h6>
                                <p style="color:black">Trò chơi chọn đáp án đúng theo hình.</p>
                            </a>
                        </article>
                    </li>
                    <li class="one_quarter">
                        <article>
                            <a href="#">
                                <i class="fas fa-dove"></i>
                                <h6 class="heading" style="color:black">Sách</h6>
                                <p style="color:black">Mẫu sách tiếng anh dành cho trẻ nhỏ.</p>
                            </a>
                        </article>
                    </li>
                    <li class="one_quarter">
                        <article>
                            <a href="#">
                                <i class="fas fa-dove"></i>
                                <h6 class="heading" style="color:black">Giới thiệu</h6>
                                <p style="color:black">Giới thiệu về chúng tôi.</p>
                            </a>
                        </article>
                    </li>
                </ul>
            </section>
            

            <!-- / main body -->
            <div class="clear"></div>

        </main>
    </div>







    <a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
    <!-- JAVASCRIPTS -->
    <script src="~Content//scripts/jquery.min.js"></script>
    <script src="~Content/scripts/jquery.backtotop.js"></script>
    <script src="~Content/scripts/jquery.mobilemenu.js"></script>
    <!-- Homepage specific -->
    <script src="~Content/scripts/jquery.easypiechart.min.js"></script>
    <!-- / Homepage specific -->
</body>
</html>